*{
    margin: 0px;
    padding: 0px;
}

html{
    background-image: url(../img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    height: max-content;
    font-size: medium;
}

body{
    color: white;
    text-align: center;
}

a:link {color: white; text-decoration: none;}
a:visited {color: white; text-decoration: none;}
a:hover {color: white; text-decoration: underline;}
a:active {color: white; text-decoration: none;}


#input_sensor, #input_histo, #input_settings, #input_users{
    display: inline-block;
    margin: 5vh 2vw;
    min-width: fit-content;
    width: 10vw;
    padding: 1.5vh 1vw;
    font-size: medium;
    border: solid black 1px;
    border-radius: 5px;
    color: white;
    background-color: #504e4ecb;
}

#input_sensor:hover, #input_histo:hover, #input_settings:hover, #input_users:hover{
    background-color: #3a3535cb;
}

/* Historicals Buttons */
.Histo_Button{
    display: inline-block;
    margin: 2vh 3vw;
    min-width: fit-content;
    width: 10vw;
    padding: 1.5vh 1vw;
    font-size: medium;
    border: solid black 1px;
    border-radius: 5px;
    color: white;
    background-color: #504e4ecb;
}

.Histo_Button:hover{
    background-color: #3a3535cb;
}


/* Sensor State Supervision & Historical Table */
.div_sensor, .div_event, #div_settings{
    margin: 2vh auto;
    width: max-content;
    display: none;
}

thead{
    font-weight: bold;
}

.table_sensor, .table_event_sensor, .table_event_users{
    border-collapse: collapse;
    display: inline-block;
    overflow-y: scroll;
    max-height: 50vh;
}

.table_event_sensor, .table_event_users{
    display: inline-block;
    margin: 2vh 2vw;
}

.div_sensor td, .div_event td{
    border: solid white 1px;
    padding: 1.5vh 2vw;
    font-size: large;
    font-weight: bold;
}

.input {
    width: 50%;
    margin: 2vh 0vw;
    padding: 3%;
}

/* Alarm table */

#table_alarm{
    border-collapse: collapse;
}

#table_alarm td{
    border: dotted white 1px;
    padding: 1vh 1vw;
}

.Alarm_Table_Room{
    font-weight: bolder;
    color: rgb(180, 180, 180);
    text-shadow: black 1px 1px;
}

#AlarmPanelValues{
font-weight: bold;
}

#table_alarm button{
    width: 100%;
    padding: 1vh 2vw;
    font-size: large;
    font-weight: bold;
}

#div_users input, #div_users select{
    padding: 1vh 0.5vw;
    margin: 1vh 1vw;
}



/* ----- Responsive max-width screen : 890px ----- */
@media screen and (max-width: 890px) and (min-width: 600px) {
    #login_form{
        width: 50vw;
    }

    .table_sensor, .table_event_sensor, .table_event_users{
        display: block;
        width: max-content;
        max-width: 100vw;
        margin: 5vh auto;
    }

    .table_event_sensor td, .table_event_users{
        margin: 0vh 0.5vw;
        padding: 0.5vh 0.5vw;
    }

    #div_sensor td{
        padding: 1vh 1vw;
    }

    #table_alarm{
        width: 80vw;
    }

}





/* ----- Responsive max-width screen : 600px ----- */
@media screen and (max-width: 600px) {

    #login_form{
        width: 80vw;
    }

    #login_form input{
        width: 70%;
        margin: 1vh 0.5vw;
        padding: 2vh 3vw;
    }
    #div_sensor td{
        padding: 2vh 2vw;
    }

    .table_event_sensor, .table_event_users{
        display: block;
        width: max-content;
        width: 100vw;
        margin: 5vh auto;
    }

    .table_event_sensor td, .table_event_users td{
        margin: 0vh 0.5vw;
        padding: 0.5vh 0.5vw;
    }

    #table_alarm{
        width: 80vw;
    }

}

#false, .OFF {
    color: red;
}

#true, .ON {
    color: green;
}