*{
    margin: 0px;
    padding: 0px;
}

html{
    background-image: url(../img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    color: white;
    text-align: center;
}

a:link {color: white; text-decoration: none;}
a:visited {color: white; text-decoration: none;}
a:hover {color: white; text-decoration: underline;}
a:active {color: white; text-decoration: none;}


/* Login Form */
#login_form{
    position: relative;
    border: solid black;
    border-width: 0px 1px 1px 0px;
    box-shadow: #0000008f 7px 9px;
    border-radius: 25px;
    width: 25vw;
    margin: 10vh auto;
    padding-top: 2vh;
    text-align: center;
    background-color: #00000013;
}

#login_form h1{
    text-align: center;
    color: #747474;
    font-family: monospace;
    font-size: xxx-large;
    margin: 2vh auto;
    text-shadow: rgb(0, 0, 0) -2px 2px;
}

#LoginError{
    margin: 1vh auto;
    color: red;
    font-size: larger;
    font-family: system-ui;
}


#login_form input{
    width: 70%;
    margin: 2vh 0.5vw;
    padding: 2vh 1vw;
    border: solid white 1px;
    border-radius: 25px;
    background-color: rgba(53, 53, 53, 0.863);
    color: white;
    font-size: medium;
    text-align: center;
}

#login_form input::placeholder{
    color: white;
}

#login_form input[type='button']{
    margin: 2vh auto 3vh auto;
    background-color: #2e2727cb;
    color: white;
    border: solid black 1px;
    font-weight: bold;
}

#login_form input[type='button']:hover{
    background-color: #3a3535cb;
}

#input_sensor, #input_histo, #input_settings{
    display: inline-block;
    margin: 5vh 2vw;
    min-width: fit-content;
    width: 10vw;
    padding: 1.5vh 1vw;
    font-size: medium;
    border: solid black 1px;
    border-radius: 5px;
    color: white;
    background-color: #504e4ecb;
}

#input_sensor:hover, #input_histo:hover, #input_settings:hover{
    background-color: #3a3535cb;
}

/* Historicals Buttons */
.Histo_Button{
    display: inline-block;
    margin: 2vh 3vw;
    min-width: fit-content;
    width: 10vw;
    padding: 1.5vh 1vw;
    font-size: medium;
    border: solid black 1px;
    border-radius: 5px;
    color: white;
    background-color: #504e4ecb;
}

.Histo_Button:hover{
    background-color: #3a3535cb;
}

/* Sensor State Supervision & Historical Table */
.div_sensor, .div_event, #div_settings{
    margin: 2vh auto;
    width: max-content;
    display: none;
}

thead{
    font-weight: bold;
}

.table_sensor, .table_event_sensor, .table_event_users{
    border-collapse: collapse;
    display: block;
    overflow-y: scroll;
    max-height: 50vh;
}

.table_event_sensor, .table_event_users{
    display: inline-block;
    margin: 0vh 2vw;
}

.div_sensor td, .div_event td{
    border: solid white 1px;
    padding: 1.5vh 2vw;
    font-size: large;
    font-weight: bold;
}

.input {
    width: 50%;
    margin: 2vh 0vw;
    padding: 3%;
}

/* Alarm table */

#table_alarm{
    border-collapse: collapse;
}

#table_alarm td{
    border: dotted white 1px;
    padding: 1vh 1vw;
}

.Alarm_Table_Room{
    font-weight: bolder;
    color: rgb(180, 180, 180);
    text-shadow: black 1px 1px;
}

#AlarmPanelValues{
font-weight: bold;
}





/* ----- Responsive max-width screen : 890px ----- */
@media screen and (max-width: 890px) and (min-width: 600px) {
    #login_form{
        width: 50vw;
    }
}





/* ----- Responsive max-width screen : 600px ----- */
@media screen and (max-width: 600px) {
    #login_form{
        width: 80vw;
    }

    #login_form input{
        width: 70%;
        margin: 1vh 0.5vw;
        padding: 2vh 3vw;
    }
}

.false {
    color: red;
}

.true {
    color: green;
}