#nav{
    background-color: #2f3336;
    height: 6vh;
    width: 100%;
    flex-direction: row;
    text-align: right;
  }

#input_disconnect, #input_account{
  margin: 1vh 1vw;
  padding: 0.5vh 1vw;
  height: 4vh;
  width: fit-content;
  font-size: medium;
  border: solid black 1px;
  border-radius: 5px;
  color: white;
  background-color: #504e4ecb;
}

#input_disconnect:hover, #input_account:hover{
  background-color: #3a3535cb;
}

