#nav{
    background-color: #2f3336;
    height: 5vh;
    text-align: right;
  }

#nav ul{
  list-style-type: none;
}

#nav ul li{
  display: inline-block;
}

#input_disconnect, #input_account, #input_mainMenu{
  margin: 0vh 1vw;
  padding: 0.5vh 1vw;
  height: 4vh;
  width: fit-content;
  font-size: medium;
  border: solid black 1px;
  border-radius: 5px;
  color: white;
  background-color: #504e4ecb;
  line-height: 4vh;
  text-align: center;
}

#input_disconnect:hover, #input_account:hover, #input_mainMenu:hover{
  background-color: #3a3535cb;
  cursor: default;
}

#input_disconnect{
  display: block;
  position: absolute;
  margin-top: 0.5vh;
}

/* ----- Responsive max-width screen : 600px ----- */
@media screen and (max-width: 600px) {
  #nav{
    text-align: center;
  }

  .table_sensor td , .table_event_sensor td, .table_event_users td{
    width: fit-content;
    padding: 1vh 1vw;
}
}