.Login_form{
  margin: 15vh auto;
  padding: 4vh 0vw;
  width: 17vw;
  border-radius: 20px;
  background-color: #354152;
  box-shadow: 0 0 250px #000;
  text-align: center;
}

#login_icon{
  margin: 1vh auto;
  width: 7vw;
  height: auto;
}

input{
  width: 80%;
  display: block;
  text-align: center;
  margin: 3vh auto 3vh auto;
  background-color: transparent;
  border: solid black 2px;
  font-size: medium;
  color: #7e8ba3;
  padding: 1vh 0vw;
  border-radius: 10vh;
}

input[type="text"]:active{
  border: solid black 2px;
}

input::placeholder {
  color: #7e8ba3;
}

input[type="submit"]{
  color: white;
  padding: 1vh 1vw;
  font-weight: bold;
  background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
}

p{  
  margin: 1vh auto;
  width: 80%;
  text-align: center;
  font-weight: bold;
  color:#d42300;
  text-shadow: #8f0000 1px 1px;
}